{% extends 'aien.html' %}
{% block style %}
<style>
    div{
        border:1px solid darkcyan;
    }
    .article-part{
        background-color:rgba(3, 151, 131, 0.76);
    }
    .article-head{
        background-color:rgba(3, 151, 131, 0.925);
    }
</style>
{% endblock %}
{% block main %}
<div class='row'>

    <!-- ------------------------------ left part -------------------------------- -->
    <div class='col-sm-3'>
        <div>
            <h3 class='text-center font-weight-bold'>Left side</h3>
            <div class='form-group row'>
                <label for="title" class='col-form-label col-sm-3 text-right'>標題 :</label>
                <div class='col-sm-9'>
                    <input type="text" class='form-control' id='title' name='title' placeholder='請輸入文章標題' autocomplete='off'>
                </div>
            </div>
        </div>

 

    </div>

    <!-- ------------------------- left part end ------------------------ -->

    <div class='col-sm-6 '>
        <h3 class='text-center font-weight-bold'>文章</h3>
        <div>
            <div class="card text-white mb-3 article-part" >
                <div class="card-header article-head">Header</div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

    </div>





    <div class='col-sm-3'>
        <p>123456</p>
    </div>

</div>

{% endblock %}

{% block script %}

{% endblock script %}