{% extends 'aien2.html' %}
{% block style %}

<style>
    div{
        /* border:1px solid darkcyan; */
    }
    .article-part{
        background-color:rgba(3, 151, 131, 0.76);
    }
    .article-head{
        background-color:rgba(3, 151, 131, 0.925);
    }

</style>
{% endblock %}
{% block main %}
<div class='row'>

    <!-- ------------------------------ left part -------------------------------- -->
    <div class='col-md-3'>
        <div>
            <h3 class='text-center font-weight-bold'>Left side</h3>
            <div class='form-group row'>
                <label for="title" class='col-form-label col-sm-3 text-right'>標題 :</label>
                <div class='col-sm-9'>
                    <input type="text" class='form-control' id='title' name='title' placeholder='請輸入文章標題' autocomplete='off'>
                </div>
            </div>
            <div class='form-group row'>
                <label for="paragraph" class='col-form-label col-sm-3 text-right'>標題 :</label>
                <div class='col-sm-9'>
                    <textarea name="paragraph" class='form-control' id="paragraph"  rows="5"></textarea>
                </div>
            </div>
        </div>
    </div>



    <!-- ------------------------- middle part ------------------------ -->

    <div class='col-md-6 ' id='middle'>
        <h3 class='text-center font-weight-bold'>文章</h3>


        <div>
            <div class="card text-white mb-3 article-part" >
                <div class="card-header article-head">Header</div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </div>
        </div>

    </div>





    <div class='col-md-3'>
        <p>123456</p>
    </div>






<!-- 這個是row的結束 -->
</div>

<p>12356756</p>
<p>12356756</p>
<p>12356756</p>
<p>12356756</p>
<p>12356756</p>
<p>12356756</p>
<p>12356756</p>
<p>12356756</p>
<p>12356756</p>
<p>12356756</p>
<p>12356756</p>
<p>12356756</p>
<p>12356756</p>
<p>12356756</p>
<p>12356756</p>

<div id='bb'>
<p>12356756</p>
</div>

{% endblock %}



{% block scripts %}
<script>
$( function() {

    var body = $('body')
    var middle = $('#middle')
    var empty = $('<div></div>')
    var bb = $('#bb')
    var flag = {
        scroll:false,
    }

    var times = 0

    $(window).scroll(function(){
        // console.log(body.height())
        var bottom = $(this).scrollTop() + $(this).height()
        if(bottom > body.height()){
            flag.scroll = true
            console.log(flag.scroll)
            var br = $('<br>')
            for(i=0;i<20;i++){
                times++
                bb.append('<p>' + times + '</p>') 
            }
        } else{
            flag.scroll = false
            console.log(flag.scroll)
        }
        console.log('============')
    })






});
</script>
{% endblock%}