{% extends "aien.html" %}
{% block style %}

<style>
    h2{
      text-align:center;
    }
    .t1{
      width:800px;
      margin:0 auto;
    }
    #textarea1{
        width:750px;
        height:600px;
        /* min-height: 120px; 
        max-height: 300px; */
        margin-left: auto; 
        margin-right: auto; 
        padding: 3px; 
        outline: 0; 
        border: 1px solid #a0b3d6; 
        font-size: 12px; 
        word-wrap: break-word;
        overflow-x: hidden;
        overflow-y: auto;
        font-family: 標楷體;
    }
    #textarea2{
        width:750px;
        height:100px;
        /* min-height: 120px; 
        max-height: 300px; */
        margin-left: auto; 
        margin-right: auto; 
        padding: 3px; 
        outline: 0; 
        border: 1px solid #a0b3d6; 
        font-size: 12px; 
        word-wrap: break-word;
        overflow-x: hidden;
        overflow-y: auto;
        font-family: 標楷體;
        font-size:20px;
    }

        #testarea1{
        width:750px;
        height:600px;
        /* min-height: 120px; 
        max-height: 300px; */
        margin-left: auto; 
        margin-right: auto; 
        padding: 3px; 
        outline: 0; 
        border: 1px solid #a0b3d6; 
        font-size: 12px; 
        word-wrap: break-word;
        overflow-x: hidden;
        overflow-y: auto;
        font-family: 標楷體;
    }
    #testarea2{
        width:750px;
        height:100px;
        /* min-height: 120px; 
        max-height: 300px; */
        margin-left: auto; 
        margin-right: auto; 
        padding: 3px; 
        outline: 0; 
        border: 1px solid #a0b3d6; 
        font-size: 12px; 
        word-wrap: break-word;
        overflow-x: hidden;
        overflow-y: auto;
        font-family: 標楷體;
        font-size:20px;
    }

    #textarea3{
        width:175px;height:30px;
    }  
    #tabs{
        float:left;
        width:300px;
        height:700px;
    }
    .d1{
        width:600px;
    }
    .p1{
        float:left;
        width:500px;
    }        
</style>
{% endblock %}

{% block left %}
    <h2>訊息區</h2>
    <form method="POST">
        <div id="tabs">
            <ul>
              <li><a href="#tabs-1">訊息列表</a></li>
              <li><a href="#tabs-2">好友列表</a></li>
            </ul>
            <div id="tabs-1">
                <div class="form-group">
                    <label for="exampleFormControlInput1">搜尋訊息</label>
                    <input type="email" class="form-control" id="" placeholder="name@example.com">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Example select</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                </div>
        

            <div id="tabs-2">  
                <div class="form-group" id="friends">
                <input type="text" class="form-control" id="addfriend"  placeholder="搜尋好友">
                </div>
  
            </div>
           
          </div>
        </form>          
{% endblock %}
{% block middle %}
    <form method="POST">
            <div class="form-group t1">
              <!-- <label for="textarea1">訊息視窗</label> -->
              <div class="form-control" id="textarea1" name="textarea1" readonly="readonly">
              </div>
            </div>
            <div class="form-group t1">
                <div contenteditable="true" class="form-control" id="textarea2" name="textarea2" autofocus></div>
              <!-- <label for="textarea2">輸入視窗</label> -->
            </div>
          
          </form>


          <form method="POST">
            <div class="form-group t1">
              <!-- <label for="textarea1">訊息視窗</label> -->
              <div class="form-control" id="testarea1" name="testarea1" readonly="readonly">
              </div>
            </div>
            <div class="form-group t1">
                <div contenteditable="true" class="form-control" id="testarea2" name="testarea2" autofocus></div>
              <!-- <label for="textarea2">輸入視窗</label> -->
            </div>
          
          </form>

{% endblock %}

{% block scripts %}
<script>
    $( function() {
      $( "#tabs" ).tabs();
    } );
</script>
<script>
$(document).ready(function(){
    // $('#leftnav').load('partial/nav.html');
    $('#textarea2').keydown(function () {
        if (event.keyCode == 13 && event.shiftKey){
            $(this).val($(this).val())    //設定按下shift換行
        }else if (event.keyCode == 13) {
            event.preventDefault();  //取消按下enter換行事件
            var textset= $('#textarea2').html();
            var datas = {
                "name":"angeljaina",
                "message":textset,
                "targetid":"2",
                "messageimage":"",
            }
            $.post('/api/msg/',datas,function(newmsg){
                loadmsg()
            })
            $('#textarea2').html("") 
        };    
    });
    $("a[href='#tabs-2']").one("click",function(){
        $.getJSON('/api/member/',function(dates){
            $.each(dates,function(index,object){
                $('#friends').append("<div>" + object.name +"</div>")
            })
        })
    })
    function loadmsg(){
        $.getJSON('/api/msg/',function(msghistory){
            var docFrag = $(document.createDocumentFragment())
            $.each(msghistory,function(index,msgdatas){
                var messagewho = {}
                if (msgdatas.name == "angeljaina"){
                    messagewho = $('<p class="h4 triangle-right right"></p>').text(msgdatas.message)
                }else{
                    messagewho = $('<p class="h4 triangle-isosceles left"></p>').text(msgdatas.message)
                }
                var messagetime = formatDate(msgdatas.last_modified_at) 
                //呼叫formatDate function放入變數messagetime
                var cell1 = messagewho
                // var cell1 = $('<p class="h4 triangle-isosceles left"></p>').text(msgdatas.message)
                var cell2 = $('<p></p>').text(messagetime).attr('contenteditable','true')
                var row = $ ('<div class="d1"></div>').append([cell1,cell2])
                docFrag.append(row)
            })
            $('#textarea1').html(docFrag)
            var div = document.getElementById('textarea1')
            div.scrollTop = div.scrollHeight;
        })
    }
    loadmsg()   
    })
    //比對訊息時間與本日時間，回傳
    function formatDate(t) {         
            var myDate = new Date();				
            var month = myDate.getMonth() + 1;				
            var day = myDate.getDate();		
            month = (month.toString().length == 1) ? ("0" + month) : month;		day = (day.toString().length == 1) ? ("0" + day) : day; 			var result = myDate.getFullYear() + '-' + month + '-' + day;
            if (result == t.substr(0,10)){
                return t.substr(11,5)
            }
            else{
                return (t.substr(5,5)+" "+t.substr(11,5))
            }
        }
        
</script>    

<script>
    $(document).ready(function(){
        // $('#leftnav').load('partial/nav.html');
        $('#testarea2').keydown(function () {
            if (event.keyCode == 13 && event.shiftKey){
                $(this).val($(this).val())    //設定按下shift換行
            }else if (event.keyCode == 13) {
                event.preventDefault();  //取消按下enter換行事件
                var textset= $('#testarea2').html();
                var datas = {
                    "name":"kintboos",
                    "message":textset,
                    "targetid":"1",
                    "messageimage":"",
                }
                $.post('/api/msg/',datas,function(newmsg){
                    loadmsg()
                })
                $('#testarea2').html("") 
            };    
        });
        function loadmsg(){
            $.getJSON('/api/msg/',function(msghistory){
                var docFrag = $(document.createDocumentFragment())
                $.each(msghistory,function(index,msgdatas){
                    var messagewho = {}
                if (msgdatas.name == "kintboos"){
                    messagewho = $('<p class="h4 triangle-right right"></p>').text(msgdatas.message)
                }else{
                    messagewho = $('<p class="h4 triangle-isosceles left"></p>').text(msgdatas.message)
                }
                var messagetime = formatDate(msgdatas.last_modified_at) 
                //呼叫formatDate function放入變數messagetime
                var cell1 = messagewho
                // var cell1 = $('<p class="h4 triangle-isosceles left"></p>').text(msgdatas.message)
                    var cell2 = $('<p></p>').text(messagetime).attr('contenteditable','true')
                    var row = $ ('<div class="d1"></div>').append([cell1,cell2])
                    docFrag.append(row)
                })
                $('#testarea1').html(docFrag)
                var div = document.getElementById('testarea1')
                div.scrollTop = div.scrollHeight;
            })
        }
        loadmsg()   
        })
        //比對訊息時間與本日時間，回傳
        function formatDate(t) {         
                var myDate = new Date();				
                var month = myDate.getMonth() + 1;				
                var day = myDate.getDate();		
                month = (month.toString().length == 1) ? ("0" + month) : month;		day = (day.toString().length == 1) ? ("0" + day) : day; 			var result = myDate.getFullYear() + '-' + month + '-' + day;
                if (result == t.substr(0,10)){
                    return t.substr(11,5)
                }
                else{
                    return (t.substr(5,5)+" "+t.substr(11,5))
                }
            }
            
    </script>    
{% endblock %}